.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  min-height: calc(100vh - 220px);
}


.login-form {
  text-align: center;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 5%;
}

.login-form-input {
  width: 350px;
}


