<div class="login-section" (submit)="login()">
  <form class="login-form">
    <p>
      <mat-form-field class="login-form-field" appearance="outline">
        <mat-label>Username</mat-label>
        <input [(ngModel)]="loginData" class="login-form-input" matInput name="username" placeholder="Username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="login-form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="passwordData" class="login-form-input" matInput name="password" placeholder="Password">
      </mat-form-field>
    </p>
    <button class="login-form-button" type="submit" mat-button mat-stroked-button>
      Login
    </button>
  </form>
</div>
